<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Front Screen</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
    </style>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="../static/css/frontscreen.css">
</head>
<body>
    <div class="my-website">
        <div class="background">
            <div class="image-container"></div>
            <div class="other-element">
                <div class="container-11">
                    <div class="container-15">
                        <p class="perfects">
                            <span class="perfects-sub-17">perfect 홈s</span><span></span>
                        </p>
                        <div class="svg">
                            <div class="svg-1">
                                <div class="qli-dyn-boo-9-dn-7-hqn"></div>
                            </div>
                            <div class="container-3">
                                <img class="vector-12" src="../static/assets/vectors/vector_9_x2.svg" />
                            </div>
                            <div class="container-1">
                                나만의<br />
                                집 찾기
                            </div>
                            <div class="container-14">
                                <div class="container-4">
                                    <img class="group-2" src="../static/assets/vectors/group_4_x2.svg" />
                                </div>
                                <div class="container-2">
                                    <a href="{% url 'index' %}" class="c-1-e-8-b-498-e-082108-ae-0-e-4885372-c-8-b-89-svg">
                                        <img class="group-1" src="../static/assets/vectors/group_1_x2.svg" alt="Next Button" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container-12">
                        <div class="svg-7 background-1 svg-7-1">
                            <span class="container-5">
                                아파트
                            </span> 
                            <div class="container-8">
                                <img class="vector" src="../static/assets/vectors/vector_6_x2.svg" />
                                <div class="animation-img"></div>
                            </div>
                            <div class="background background-1"></div>
                        </div>
                        <div class="svg-2 background-2 svg-2-1">
                            <span class="finding-foreigners-house">
                                안심 중개사<br />
                                찾기
                            </span>
                            <div class="container-9">
                                <img class="vector-41" src="../static/assets/vectors/vector_4_x2.svg" />
                                <div class="animation-img"></div>
                            </div>
                            <div class="background background-2"></div>
                        </div>
                    </div>
                    <div class="container-12">
                        <div class="svg-7 background-3 svg-7-2">
                            <span class="container-5">
                                원룸 . 오피스텔
                            </span>
                            <div class="container-8">
                                <img class="vector-42" src="../static/assets/vectors/vector_11_x2.svg" />
                                <div class="animation-img"></div>
                            </div>
                            <div class="background background-3"></div>
                        </div>
                        <div class="svg-2 background-4 svg-2-2">
                            <div class="finding-foreigners-house">
                                안전 전세<br />
                                매물
                            </div>
                            <div class="container-9">
                                <img class="vector-43" src="../static/assets/vectors/vector_10_x2.svg" />
                                <div class="animation-img"></div>
                            </div>
                            <div class="background background-4"></div>
                        </div>
                    </div>
                    <div class="container-12">
                        <div class="svg-7 background-5 svg-7-3">
                            <div class="container-5">
                                빌라 . 투룸
                            </div>
                            <div class="container-8">
                                <img class="vector-44" src="../static/assets/vectors/vector_3_x2.svg" />
                                <div class="animation-img"></div>
                            </div>
                            <div class="background background-5"></div>
                        </div>
                        <div class="svg-2 background-6 svg-2-3">
                            <div class="finding-foreigners-house">
                                Finding  <br />
                                Foreigner&#39;s<br />
                                House
                            </div>
                            <div class="container-9">
                                <img class="vector-45" src="../static/assets/vectors/vector_12_x2.svg" />
                                <div class="animation-img"></div>
                            </div>
                            <div class="background background-6"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
